<nav
	style="display: flex; justify-content: center; align-items: center"
	class="navbar navbar-expand-sm navbar-light bg-light"
>
	<div
		style="display: flex; justify-content: center; align-items: center"
		class="collapse navbar-collapse"
		id="navbarTogglerDemo01"
	>
		<ul id="mymenu" class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item">
				<a id="borrowing" class="nav-link" href="/borrowing">Формуляр</a>
			</li>
			<li class="nav-item">
				<a id="book_copies" class="nav-link" href="/book_copies">Книги</a>
			</li>
			<li class="nav-item">
				<a id="readers" class="nav-link" href="/readers">Читачі</a>
			</li>
			<li class="nav-item">
				<a id="librarians" class="nav-link" href="/librarians">Бібліотекарі</a>
			</li>
		</ul>
		<div style="padding-left: 15px">
			<a
				name=""
				id=""
				onclick="logout()"
				class="btn btn-primary"
				href="/logout"
				role="button"
				>Вийти</a
			>
		</div>
	</div>
</nav>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/header.js"></script>
